:host {
  display: block;
  background: #fff;
  width: 100%;
  cursor: text;
}


:host input {
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  appearance: none!important;
  display: inline-block!important;
  padding: 0.5rem 1rem !important;
  margin: 0.2rem 0.2rem !important;
  background: none!important;
  border: none!important;
  height: 2.8rem !important;
  box-shadow: none!important;
  line-height: 2.8rem!important;
  font: inherit!important;
  font-size: inherit!important;
  outline: 0!important;
  vertical-align: middle;
}

:host .selected~input {
  opacity: .3;
}