{
  "sourceMap": false,
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 3 versions"]
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-async-to-generator"
  ]
}