html {
  font-size: 2.5vmin;
}

body {
  background: #fff;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  margin: 0;
}

/**
 * Typography
 */
.lh1 { line-height: 1 }
.fwl { font-weight: 200 }
.fw-800 { font-weight: 800 }

.sans {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.mono {
  font-family: menlo, monaco, monospace;
}

/**
 * Colors
 */

.bg-white { background: #fff }
.bg-black { background: #000 }

.tc-white { color: #fff }
.tc-black { color: #000 }

/**
 * Anchors
 */

a {
  color: #000;
  text-decoration: none;
}

/**
 * Lists
 */
.list-comma-seperated > span:not(:last-child):after {
  content: ', '
}

/**
 * Gr8
 */
.usn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pen { pointer-events: none }
.cur-ewr { cursor: ew-resize }

/**
 * Type
 */
.emoji {
  font-family: "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
}