html {
  font-size: 2.5vmin;
}

body {
  background: #fff;
  color: #000;
  font-family: 'Bau Medium', sans-serif;
  line-height: 1.5;
  margin: 0;
}

/**
 * Typography
 */
.lh1 { line-height: 1 }

/**
 * Anchors
 */

a {
  color: #000;
  text-decoration: none;
}

/**
 * Lists
 */
.list-comma-seperated > span:not(:last-child):after {
  content: ', '
}

/**
 * Gr8
 */
.usn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}