html {
  font-size: 62.50%;
}

body {
  line-height: 1.5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Typography
 */
.lh1 { line-height: 1 }
.fwl { font-weight: 200 }
.fwn { font-weight: normal }
.fw-800 { font-weight: 800 }

.sans {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.mono {
  font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
}

.copy > * { margin-top: 1.5rem; margin-bottom 1.5rem; }
.copy > *:first-child { margin-top: 0 }
.copy > *:last-child { margin-bottom: 0 }

.copy a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding-bottom: 0.2em;
}

/**
 * Sizes
 */
 
.line {
  height: 4.5rem;
  line-height: 4.5rem;
}

/**
 * Anchors
 */

a {
  text-decoration: none;
}

.bbu {
  border-bottom: 2px solid;
  padding-bottom: 2px;
}

/**
 * Lists
 */
.list-comma-seperated > span:not(:last-child):after {
  content: ', '
}

/**
 * Design
 */
.design-container {
  font-size: 2.5vmin;
}

/**
 * Gr8
 */
.usn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.r45 {
  display: inline-block;
  transform: rotate(-45deg);
}

.p1px { padding: 1px }

.pen { pointer-events: none }
.cur-ewr { cursor: ew-resize }
.curt { cursor: text }

.bro { border-radius: 4px }
.bror { border-bottom-right-radius: 4px }

.brit {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.brib {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.bribl { border-bottom-left-radius: 2px }
.bribr { border-bottom-right-radius: 2px }

.ofa { overflow: auto }

.emoji {
  font-family: "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
}

/**
 * Hovers
 */
.ophc:hover .ophc100 { opacity: 1 }
.ophc:hover .ophc100 { opacity: 1 }
.oph100:hover { opacity: 1 }

/**
 * Placeholder
 */

input {
  border-radius: 0;
  -webkit-appearance: none;
}

::-webkit-input-placeholder { color: rgba(127, 127, 127, 0.5); }
:-moz-placeholder { color: rgba(127, 127, 127, 0.5); }
::-moz-placeholder { color: rgba(127, 127, 127, 0.5); }
:-ms-input-placeholder { color: rgba(127, 127, 127, 0.5); }

/**
 * Dropdown
 */
.input-dropdown-options {
  border-top: 0;
  border-left: 0;
  overflow-y: auto;
  max-height: 16rem;
}

.input-dropdown-options > div:last-child) {
  border-bottom: 0 !important;
}

/**
 * Borders
 */
.opt-bl {
  border-left: 1px solid rgba(127, 127, 127, 0.33);
}

.opt-br {
  border-right: 1px solid rgba(127, 127, 127, 0.33);
}

.opt-bt {
  border-top: 1px solid rgba(127, 127, 127, 0.33);
}

.opt-bb {
  border-bottom: 1px solid rgba(127, 127, 127, 0.33);
}

/**
 * Loading
 */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 6rem;
  height: 6rem;
  border: solid 5px white;
  border-top-color: #000;
  border-left-color: #000;
  border-radius: 50%;
  overflow: hidden;
  z-index: 100;
  animation: spinner 800ms linear infinite;
}

/**
 * Countdown
 */

.countdown {
  border: 2px solid #000;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background: rgba(0, 0, 0, 1);
  animation: countdown 60s linear;
}

@keyframes countdown {
  0% { background: rgba(0, 0, 0, 1) }
  100% { background: rgba(0, 0, 0, 0) }
}

/**
 * Arrow
 */
.arrow-bottom:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

/**
 * Panel
 */

.panel-content {
  overflow: auto;
  max-height: 80vh;
}

input {
  font-size: 1rem;
  height: 3rem;
  line-height: 3rem;
  outline: 0;
}

input[type="text"] {
  border: 0;
  outline: 0;
  margin: 0;
}


input[type="button"],
input[type="submit"] {
  border: 0;
  cursor: pointer;
}

/**
 * Data
 */
.data {
  min-height: calc(100vh - 4.5rem);
  margin-top: 4.5rem;
  position: relative;
  width: 100%;
}

.data pre,
.data textarea {
  border: 0;
  line-height: 1.5;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 0;
  width: 100%;
}

/**
 * Color Picker
 */
.Slider {
  width: 10% !important
}

.Slider__Pointer {
  background: #000 !important;
  height: 2px !important;
  margin-bottom: -1px !important;
  margin-left: -50% !important;
  width: 100% !important
}

.navigation {
  animation: navigation 2s ease
}

@keyframes navigation {
  from { transform: translateY(-2rem); opacity: 0; }
  to { transform: translateY(0rem); opacity: 1; }
}