@font-face {
  font-family: 'Astloch';
  src: url('/assets/fonts/Astloch-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Authentic Sans';
  src: url('/assets/fonts/AUTHENTIC-Sans.woff') format('woff'),
       url('/assets/fonts/AUTHENTIC-Sans.woff2') format('woff2');
}

@font-face {
  font-family: 'Authentic Untitled';
  src: url('/assets/fonts/AUTHENTIC-Untitled.woff') format('woff'),
       url('/assets/fonts/AUTHENTIC-Untitled.woff2') format('woff2');
}

@font-face {
  font-family: 'Cool S Font';
  src: url('/assets/fonts/CoolS-Regular.otf') format('opentype')
}

@font-face {
  font-family: 'DSEG7 Classic Bold';
  src: url('/assets/fonts/DSEG7Classic-Bold.woff2') format('woff2'),
       url('/assets/fonts/DSEG7Classic-Bold.woff') format('woff');
}

@font-face {
  font-family: 'DSEG7 Classic Light';
  src: url('/assets/fonts/DSEG7Classic-Light.woff2') format('woff2'),
       url('/assets/fonts/DSEG7Classic-Light.woff') format('woff');
}

@font-face {
  font-family: 'Lab Mono';
  src: url('/assets/fonts/labmono-regular-web.woff') format('woff'),
       url('/assets/fonts/labmono-regular-web.woff2') format('woff2');
}

@font-face {
  font-family: 'Lunchtype25 LC';
  src: url('/assets/fonts/lunchtype25-light_condensed-webfont.woff2') format('woff2'),
       url('/assets/fonts/lunchtype25-light_condensed-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Lunchtype25 MC';
  src: url('/assets/fonts/lunchtype25-medium-condensed-webfont.woff2') format('woff2'),
       url('/assets/fonts/lunchtype25-medium-condensed-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Lunchtype22 L';
  src: url('/assets/fonts/lunchtype22-light-webfont.woff2') format('woff2'),
       url('/assets/fonts/lunchtype22-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Lunchtype22 M';
  src: url('/assets/fonts/lunchtype22-medium-webfont.woff2') format('woff2'),
       url('/assets/fonts/lunchtype22-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Lunchtype24 LE';
  src: url('/assets/fonts/lunchtype24-light-expanded-webfont.woff2') format('woff2'),
       url('/assets/fonts/lunchtype24-light-expanded-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Lunchtype24 ME';
  src: url('/assets/fonts/lunchtype24-medium-expanded-webfont.woff2') format('woff2'),
       url('/assets/fonts/lunchtype24-medium-expanded-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Manifont Grotesque';
  src: url('/assets/fonts/manifont-grotesk_book.woff') format('woff');
}

@font-face {
  font-family: 'Manifont Grotesque Dot';
  src: url('/assets/fonts/manifont-grotesk_book-dot.woff') format('woff');
}

@font-face {
  font-family: 'JRUG PUNK';
  src: url('/assets/fonts/JRUG_PUNK.ttf') format('truetype')
}

@font-face {
  font-family: 'Pecita';
  src: url('/assets/fonts/Pecita.otf') format('opentype')
}

@font-face {
  font-family: 'Reglo';
  src: url('/assets/fonts/Reglo-Bold.otf') format('opentype')
}

@font-face {
  font-family: 'Junicode Condensed';
  src: url('/assets/fonts/junicode-regularcondensed-webfont.woff2') format('woff2'),
       url('/assets/fonts/junicode-regularcondensed-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Junicode Bold Condensed';
  src: url('/assets/fonts/junicode-boldcondensed-webfont.woff2') format('woff2'),
       url('/assets/fonts/junicode-boldcondensed-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  src: url('/assets/fonts/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spectral Extra-Light';
  src: url('/assets/fonts/Spectral-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Spectral Extra-Light';
  font-weight: bold;
  src: url('/assets/fonts/Spectral-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spectral Regular';
  src: url('/assets/fonts/Spectral-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spectral Bold';
  src: url('/assets/fonts/Spectral-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Sporting Grotesque';
  src: url('/assets/fonts/Sporting_Grotesque-Regular_web.woff') format('woff'),
       url('/assets/fonts/Sporting_Grotesque-Regular_web.woff2') format('woff2');
}

@font-face {
  font-family: 'Sporting Grotesque Bold';
  src: url('/assets/fonts/Sporting_Grotesque-Bold_web.woff') format('woff'),
       url('/assets/fonts/Sporting_Grotesque-Bold_web.woff2') format('woff2');
}

@font-face {
  font-family: 'Terminal Grotesque';
  src: url('/assets/fonts/terminal-grotesque-webfont.woff2') format('woff2'),
       url('/assets/fonts/terminal-grotesque-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Ume Gothic';
  src: url('/assets/fonts/ume-gothic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Ume Mincho';
  src: url('/assets/fonts/ume-mincho-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Unifraktur Maguntia';
  src: url('/assets/fonts/UnifrakturMaguntia.ttf') format('truetype')
}

@font-face {
  font-family: 'Work Sans Thin';
  src: url('/assets/fonts/WorkSans-Thin.woff2') format('woff2'),
       url('/assets/fonts/WorkSans-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans-Regular.woff2') format('woff2'),
       url('/assets/fonts/WorkSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans Black';
  src: url('/assets/fonts/WorkSans-Black.woff2') format('woff2'),
       url('/assets/fonts/WorkSans-Black.woff') format('woff');
}

@font-face {
  font-family: 'Wremena Light';
  src: url('/assets/fonts/Wremena-Light.woff') format('woff');
}

@font-face {
  font-family: 'Wremena Bold';
  src: url('/assets/fonts/Wremena-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Yatra Regular';
  src: url('/assets/fonts/Yatra-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Young Serif';
  src: url('/assets/fonts/YoungSerif-Regular.otf') format('opentype')
}