html {
  font-size: 62.50%;
  --mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --serif: 'Spectral Extra-Light', georgia, serif;
}

body {
  height: auto;
  line-height: 1.5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * home
 */

@media (min-width: 767px) {
  .home-height {
    min-height: calc(100vh - 4rem);
  }

  .home-width {
    width: calc(100% - 41.4rem)
  }
}

.home-gradient {
  position: absolute;
  height: 6rem;
  top: -6rem;
  left: 0;
  right: 0;
  z-index: 1;
}

/**
 * typography
 */

.lh1 { line-height: 1 }
.fwl { font-weight: 200 }
.fwn { font-weight: normal }
.fw-800 { font-weight: 800 }

.sans {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-style: normal;
}

.mono {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-style: normal;
}

.serif {
  font-family: var(--serif);
}

.copy > * { margin: 1.5rem 0 }
.copy > *:first-child { margin-top: 0 }
.copy > *:last-child { margin-bottom: 0 }

.copy a,
.copy .a {
  text-decoration: none;
  padding-bottom: 0.1em;
  color: currentColor;
  border-bottom: .1rem solid currentColor;
}

.copy img {
  max-width: 100%;
}

.copy h2 {
  font-family: var(--serif);
  font-size: 3rem;
  line-height: 1.2;
}

.copy h2 a {
  padding-bottom: 0;
  line-height: 1.2;
  display: inline-block;
}

.copy h3 {
  font-weight: bold;
}

/**
 * icons
 */

.icon {
  background-color: var(--fg);
  height: 1em;
  width: 1em;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon-eye {
  -webkit-mask: url(/assets/icon-eye.svg) no-repeat center;
  mask: url(/assets/icon-eye.svg) no-repeat center;
}

.icon-settings {
  -webkit-mask: url(/assets/icon-settings.svg) no-repeat center;
  mask: url(/assets/icon-settings.svg) no-repeat center;
}

.icon-trash {
  -webkit-mask: url(/assets/icon-trash.svg) no-repeat center;
  mask: url(/assets/icon-trash.svg) no-repeat center;
  margin-top: 0.05em;
  height: 0.85em;
  width: 0.85em;
}

.icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0; 
  height: 0;
  margin: -2rem 0 0 -1.75rem;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-left: 3.5rem solid var(--bg);
}

/**
 * faq
 */

.faq-answer {
  page-break-inside: avoid;
  break-inside: avoid;
  display: table; 
  width: 100%;
}

.faq-answer h2 {
  font-family: var(--sans);
  font-size: 1em;
  line-height: 1.5;
  font-weight: bold;
}

/**
 * fx
 */

.blink {
  animation: blink 250ms steps(1, end) infinite;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
}

/**
 * sizes
 */
 
.line {
  height: 4.5rem;
  line-height: 4.5rem;
}

/**
 * anchors
 */

a {
  text-decoration: none;
}

.bbu {
  border-bottom: .2rem solid;
  padding-bottom: .2rem;
}

/**
 * lists
 */

.list-comma-seperated > span:not(:last-child):after {
  content: ', '
}

/**
 * design
 */

.design-container {
  font-size: 2.5vmin;
}

/**
 * gr8
 */

.usn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.r45 {
  display: inline-block;
  transform: rotate(-45deg);
}

.p1px { padding: .1rem }

.pen { pointer-events: none }
.cur-ewr { cursor: ew-resize }
.curt { cursor: text }

.bro { border-radius: .4rem }
.bror { border-bottom-right-radius: .4rem }

.brit {
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
}

.brib {
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
}

.bribl { border-bottom-left-radius: .2rem }
.bribr { border-bottom-right-radius: .2rem }

.ofa { overflow: auto }

.emoji {
  font-family: "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
}

/**
 * hovers
 */

.ophc:hover .ophc100 { opacity: 1 }
.ophc:hover .ophc33 { opacity: 0.33 }
.ophc:hover .oph100:hover, .oph100:hover { opacity: 1 }
.oph100:not(:hover) .op50 { opacity: 1 }

/**
 * placeholder
 */

input {
  border-radius: 0;
  -webkit-appearance: none;
}

::-webkit-input-placeholder { color: rgba(127, 127, 127, 0.5); }
:-moz-placeholder { color: rgba(127, 127, 127, 0.5); }
::-moz-placeholder { color: rgba(127, 127, 127, 0.5); }
:-ms-input-placeholder { color: rgba(127, 127, 127, 0.5); }

/**
 * dropdown
 */

.input-dropdown-options {
  border-top: 0;
  border-left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 16rem;
  -webkit-overflow-scrolling: touch;
}

.input-dropdown-options > div:last-child {
  border-bottom: 0 !important;
}

/**
 * borders
 */

.opt-bl {
  border-left: .1rem solid rgba(127, 127, 127, 0.33);
}

.opt-br {
  border-right: .1rem solid rgba(127, 127, 127, 0.33);
}

.opt-bt {
  border-top: .1rem solid rgba(127, 127, 127, 0.33);
}

.opt-bb {
  border-bottom: .1rem solid rgba(127, 127, 127, 0.33);
}

/**
 * loading
 */

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 6rem;
  height: 6rem;
  border: solid .5rem white;
  border-top-color: #000;
  border-left-color: #000;
  border-radius: 50%;
  overflow: hidden;
  z-index: 100;
  animation: spinner 800ms linear infinite;
}

/**
 * countdown
 */

.countdown {
  border: .2rem solid #000;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background: rgba(0, 0, 0, 1);
  animation: countdown 60s linear;
}

@keyframes countdown {
  0% { background: rgba(0, 0, 0, 1) }
  100% { background: rgba(0, 0, 0, 0) }
}

/**
 * new
 */

.new-entry {
  position: relative;
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.new-entry:before, .new-entry:after {
  display: block;
  content: '';
  position: absolute;
}

.new-entry:before {
  background: var(--fg);
  left: 0;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 10px;
}

.new-entry:after {
  background: var(--fg);
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 10px;
}

/**
 * arrow
 */

.arrow-bottom:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -.2rem;
  width: 0; 
  height: 0; 
  border-left: .4rem solid transparent;
  border-right: .4rem solid transparent;
}

.arrow-top:before {
  content: '';
  display: block;
  position: absolute;
  top: -.4rem;
  left: 50%;
  margin-left: -.2rem;
  width: 0; 
  height: 0; 
  border-left: .4rem solid transparent;
  border-right: .4rem solid transparent;
}

.arrow-ext:after {
  content: '→';
  display: block;
  transform: rotate(-45deg);
}

/**
 * panel
 */

/*
.panel-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
}
*/

input {
  font-size: 1rem;
  height: 3rem;
  line-height: 3rem;
  outline: 0;
}

input[type="text"] {
  border: 0;
  outline: 0;
  margin: 0;
}


input[type="button"],
input[type="submit"] {
  border: 0;
  cursor: pointer;
}

/**
 * list
 */

ul li {
  position: relative;
  padding-left: 2rem;
}

ul li:before {
  content: '→';
  position: absolute;
  left: 0;
  top: 0;
}

/**
 * data
 */

.data {
  min-height: calc(100vh - 4.5rem);
  margin-top: 4.5rem;
  position: relative;
  width: 100%;
}

.data pre,
.data textarea {
  border: 0;
  line-height: 1.5;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 0;
  width: 100%;
}

/**
 * Tags
 */
body .tags-input {
  white-space: nowrap;
}

body .tags-input {
  background: none;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  padding: 0 1rem;
}

body .tags-input .tag {
  border: 0;
  line-height: 1;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  margin: 0 0.5rem 0 0;
  transition: none;
  border-radius: .2rem;
}

body .tags-input .tag.selected {

}

body .tags-input input {
  background: var(--bg);
  color: var(--fg);
  font-size: inherit;
  padding: 0 0.25rem;
  margin-bottom: 3px;
}

/**
 * forms
 */

input:required {
  box-shadow: none;
}

/**
 * color picker
 */

.Slider {
  width: 10% !important
}

.Slider__Pointer {
  background: #000 !important;
  height: .2rem !important;
  margin-bottom: -.1rem !important;
  margin-left: -50% !important;
  width: 100% !important
}

.navigation {
  animation: navigation 2s ease
}

@keyframes navigation {
  from { transform: translateY(-2rem); opacity: 0; }
  to { transform: translateY(0rem); opacity: 1; }
}

/**
 * fallback
 */

@font-face {
  font-family: 'SFMono-Regular';
  src: url(/assets/fonts/SFMono-Regular.otf) format('opentype');
}

/**
 * plyr
 */

.plyr,
.plyr__video-wrapper {
  height: 100%;
  width: 100%;
  font-family: inherit;
  font-weight: inherit;
}

.plyr--full-ui input[type="range"] {
  color: #fff;
}

.plyr--video .plyr__controls .plyr__control.plyr__tab-focus, .plyr--video .plyr__controls .plyr__control:hover, .plyr--video .plyr__controls .plyr__control[aria-expanded="true"] {
  background: #000;
}

.plyr--video .plyr__time {
  font-family: var(--mono);
  text-shadow: none;
}

.plyr__control {
  transition: none;
}

.plyr__tooltip {
  background: #fff;
  box-shadow: none;
  color: #000;
  font-family: var(--mono);
  font-size: 1rem;
  transform: translateX(-50%);
  transition: none;
}

.plyr__tooltip:before {
  border-top: 4px solid #fff;
}

.plyr--video .plyr__controls {
  background: none;
}

.plyr--full-ui input[type="range"]::-moz-range-thumb { box-shadow: none !important; }
.plyr--video .plyr--full-ui input[type="range"]::-moz-range-thumb { box-shadow: none }
.plyr--video .plyr__progress--buffer { box-shadow: none; }

.plyr--video .plyr__controls .plyr__control svg {
  filter: none;
}

.plyr__captions {
  animation: none;
  font-family: var(--serif);
  color: yellow;
}

.plyr__captions span {
  background: none;
  line-height: 1.2;
  font-size: 4rem;
  padding: 0;
}

.plyr audio, .plyr video {
  height: 100%;
  width: 100%;
}

.plyr__poster {
  background-size: cover;
}

.pixelate {
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-pixelated;
  image-rendering: pixelated; 
}