.design-container {
  /* layout */
  --gutter: calc(var(--spacing) * 0.8) var(--spacing);

  /* typography */
  color: var(--foreground);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  font-size: var(--font-size);
  text-transform: var(--font-uppercase);
  hyphens: var(--font-hyphenate);
  line-height: 1.2;
}