@font-face {
  font-family: 'Moderat';
  font-weight: normal;
  src: url('ModeratTrial-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Moderat';
  font-weight: bold;
  src: url('ModeratTrial-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Moderat Bold';
  font-weight: normal;
  src: url('ModeratTrial-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Space Mono';
  font-weight: normal;
  src: url('SpaceMono-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Space Mono';
  font-weight: bold;
  src: url('SpaceMono-Bold.otf') format('opentype');
}