@font-face {
    font-family: 'Moderat';
    src: url('moderat/moderat-regular-webfont.eot');
    src: url('moderat/moderat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('moderat/moderat-regular-webfont.woff2') format('woff2'),
         url('moderat/moderat-regular-webfont.woff') format('woff'),
         url('moderat/moderat-regular-webfont.ttf') format('truetype'),
         url('moderat/moderat-regular-webfont.svg#moderatregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Moderat';
    src: url('moderat/moderat-bold-webfont.eot');
    src: url('moderat/moderat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('moderat/moderat-bold-webfont.woff2') format('woff2'),
         url('moderat/moderat-bold-webfont.woff') format('woff'),
         url('moderat/moderat-bold-webfont.ttf') format('truetype'),
         url('moderat/moderat-bold-webfont.svg#moderatbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
  font-family: 'Space Mono';
  font-weight: normal;
  src: url('SpaceMono-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Space Mono';
  font-weight: bold;
  src: url('SpaceMono-Bold.otf') format('opentype');
}